<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ios28.accountms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity
            android:name=".Accountflag"
            android:label="@string/title_activity_accountflag"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AddInaccount"
            android:label="@string/title_activity_add_inaccount"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AddOutaccount"
            android:label="@string/title_activity_add_outaccount"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".FlagManage"
            android:label="@string/title_activity_flag_manage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Inaccountinfo"
            android:label="@string/title_activity_inaccountinfo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Outaccountinfo"
            android:label="@string/title_activity_outaccountinfo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Showinfo"
            android:label="@string/title_activity_showinfo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Sysset"
            android:label="@string/title_activity_sysset"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>